/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');
/* 
    General Stuff
*/
html{
    scroll-behavior: smooth;
    font-size: 18px;
}

  
*,::before,::after{
	margin: 0;
	box-sizing: border-box;
}

body{
  
	line-height: 1.3;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif ;
	color: var(--clr-prm) ;
	background-color: var(--text-white) ;
  }
  
/* 
Typograpy Stuff
*/

h1, h2, h3{
	font-weight: 700;
    font-family: 'Montserrat', sans-serif ;

}

a{
	text-decoration: none;
	outline: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
/* 
  Reuseable Stuff
*/

:root{
  --clr-black:#000;
  --clr-white:#fff;
  --clr-prm: #302f31;
  --clr-sec: #036992;
  --clr-lightgrey:#cecece;
  --clr-lightgrey-bg:#fafafa;
  --clr-lightgrey-bg2:#ebebeb;
  --clr-darkgrey:#909090;
  --clr-darkgrey2:#969696;
  --clr-darkgrey3:#585858;
  --clr-lightblue-bg:#33b5e5;



  --h-title-lg: 1.4rem;
  --title-sm: 0rem;
  --title-md: 0rem;
}
/* width */
body::-webkit-scrollbar {
    width: 0.56rem;
}
  
/* Track */
body::-webkit-scrollbar-track {
    box-shadow: 0 0 .6rem rgba(255, 255, 255, 1); 
    border-radius: 2rem;
    background: #e9e7e7;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgba(3, 105, 146, 0.5);
    border-radius: 2rem;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgba(3, 105, 146, 1); 
}
.btn{
    outline: none;
    font-size: 1rem;
    display: inline-block;
    width: 9rem;
    padding: .9em 0;
    text-align: center;
    border: .15em solid var(--clr-prm);
    font-weight: 400;
    cursor: pointer;
    border-radius: .3rem;
    transition: all .3s linear;
    text-transform: uppercase;
    
}
.btn.btn_border{
    background: var(--clr-white);
    color: var(--clr-prm);
    font-weight: 700;
}
.btn.btn_border:hover,
.btn.btn_border:focus{
    background: var(--clr-prm);
    color: var(--clr-white);
    font-weight: 500;
}

.btn.btn_bg{
    background: var(--clr-prm);
    color: var(--clr-white);
    font-weight: 500;
}
.btn.btn_bg:hover,
.btn.btn_bg:focus,
.treatment_offers_show_more_btn:hover,
.treatment_offers_show_more_btn:focus{
    background-color: var(--clr-white);
    color: var(--clr-prm);
    font-weight: 700;
}
.btn:hover,
.btn:focus{
    outline: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.v-center{
    align-items: center;
}
.h_title{
    font-size: var(--h-title-lg);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}
.h_title_bold{
    font-weight: 700;
}
/* ----- container ------------------------------------------------------- */
.containers-lg{
	width: min(1400px,100%);
	margin: auto;
}
.containers{
	width: min(1140px, 97%);
	margin: auto;
}
.containers-sm{
	width: min(900px,90%);
	margin: auto;
}
/* Only For Desktop */
@media (min-width: 768px){
    /* faq */
    .ques_catogoris_tabs_text,
    .faq_menu_btn,
    .ques_catogoris_title_btn{
        display: none;
    }
    .faq_body_content{
        display: flex;
    }
    .faq_body_content aside{
        width: 29%;
        padding: .6em 3em .6em 0;
    }
    .faq_body_content aside .ques_catogoris li{
        color: var(--clr-darkgrey2) !important;
        position: relative;
        padding: .4em 0 .4em .8em;
    }
    
    .faq_body_content aside .ques_catogoris li::after{
        left: 0%;
    }
    .faq_body_content aside .ques_catogoris li::before{
        width: 0%;
        transition: width .3s ease;
    }
    
    .faq_body_content aside .ques_catogoris li.active-menu::after,
    .faq_body_content aside .ques_catogoris li.active-menu::before{
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
      
    }
    .faq_body_content aside .ques_catogoris li.active-menu::before{
        background-color: #f1f1f1;
        width: 100%;
        left: 0;
        transition: width .3s ease;
    }
    
    .faq_body_content aside .ques_catogoris li.active-menu::after{  
        border: solid transparent;
        border-color: rgba(136,183,213,0);
        border-left-color: #f1f1f1;
        border-width: .9em;
        left: 100%;
    }
    .faq_body_content .faq_content{
        width: 70%;
        padding: 0.3em 3em 1em !important;
    }
    .faq_body_content .faq_content .content{
        position: relative;   
    }
    .faq_body_content .faq_content .content::before{
        content: '';
        position: absolute;
        border-right: .02em solid var(--clr-lightgrey);
        left: -3rem;
        height: 100%;
    }
}
@media (min-width: 992px){
    
}
/* Responsive Tab*/
@media (max-width: 992px){
    html
    {
        font-size: 16px;
    }
    .containers
    {
        width: min(960px, 90%);
    }
    .h_how_it_works_main .h_how_it_works_cards .h_how_it_works_cards_body{
        min-height: 16.5rem !important;
    }

    /* ---- meet your doc --------------------------------------------------------------*/
    .meet_your_doc .meet_your_doc_content{
        padding-top: 6vw;
        
    }
    .meet_your_doc .meet_your_doc_link{
        margin-top: 5vw;
    }
    /* ---- Terms & Conditions --------------------------------------------------------------*/
    .trm_cndts .trm_cndts_body{
        width:min(800px, 80%);
    }
}

/* Responsive Mobile */
@media (max-width: 768px){
    html
    {
        font-size: 15px;
    }
    .containers
    {
        width: min(720px, 90%);
    }
     /* header */
     .logo{    
        font-size: 1rem !important;
    }
      /* treatment offers */
      .treatment_offers_main{
        grid-template-columns: repeat(3, 32%) !important;
    }
    .h_how_it_works_main .h_how_it_works_cards .h_how_it_works_cards_body{
        min-height: 15.5rem !important;
    }
    
/* ---- meet your doc --------------------------------------------------------------*/

.meet_your_doc_main{
    background-image: linear-gradient(transparent 35%, var(--clr-sec) 55%) !important;
    /* background-image: linear-gradient(transparent 40%, #030A34  60%); */
}
.meet_your_doc .meet_your_doc_main .meet_your_doc_img_main img{
    z-index: -1;
    position: relative;
}

.meet_your_doc .meet_your_doc_main .meet_your_doc_img_main{
    width: 100%;
   
}
.meet_your_doc .meet_your_doc_main .meet_your_doc_content{
    width: 100%;
    background-color: transparent;
    padding: 0em 2em 4em 2em;
}
.meet_your_doc .meet_your_doc_content .meet_your_doc_title{
    font-size: 3.5rem;
}
.meet_your_doc .meet_your_doc_content .meet_your_doc_link{
    font-size: 1.5rem;
}
    /* faq */
    /* ----  --------------------------------------------------------------*/
    .faq_menu_btn{
        margin-top: 1rem;
    }
    .ques_catogoris{
        position: fixed;
        padding: 1em 0;
        top: 0;
        bottom: 0;
        left: -100%;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: var(--clr-sec);
        z-index: 1000;
        transition: left .3s ease-in-out;
    }
    .ques_catogoris.active{
        left: 0%;
    }
    .ques_catogoris_title_btn{
        display: flex;
        justify-content: space-between;
        padding: 1.5em 2em !important;
        cursor: text !important;
    }
    .ques_catogoris_title_btn span{
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    .ques_catogoris_title_btn button{
        font-size: 1.5rem;
        padding: 0;
        background-color: transparent;
        color: var(--clr-white);
        border: none;
        outline: none;
        cursor: pointer;
    }
    .faq_body_content aside .ques_catogoris li{
        padding: .8em 2em;
    }
    .faq_body_content aside .ques_catogoris .active-menu{
        background-color: var(--clr-prm);
    }
    .faq_body_content aside .ques_catogoris .ques_catogoris_tabs:hover{
        background-color: var(--clr-prm);
    }
   /* ---- Terms & Conditions --------------------------------------------------------------*/
   .trm_cndts .trm_cndts_body{
    width:min(700px, 85%);
}
    
    
}
/* Responsive Small Mobile */
@media (max-width: 576px){
    html
    {
		font-size: 10.1px !important;
    }
    .containers
    {
        width: min(540px, 90%);
    }
    /* header */
    header .main_nav .header_nav_links{
        font-size: 0.74rem !important;
    }
    .logo{    
        font-size: 1.1rem !important;
    }

    /* convenient */
    .convenient .main_convenient {
        align-items: center !important;
        flex-direction: column;
    }
    .convenient_collapse {
        width: 83% !important;
        padding: 0 0 2.2em 0 !important;
    }
    .convenient_content {
        width: 83% !important;
    }
      /* treatment offers */
      .treatment_offers_main{
        grid-template-columns: repeat(2, 45%) !important;
    }
    /* how it works */
    .h_how_it_works_main{
        flex-direction: column;
        align-items: center;
    }
    .h_how_it_works_cards {
        width: 80% !important;
    }
    .h_how_it_works_main .h_how_it_works_cards .h_how_it_works_cards_body{
        min-height: 8.5rem !important;
    }
    .h_how_it_works_cards + .h_how_it_works_cards{
        margin-top: 2rem;
    }
    
     /* ---- Terms & Conditions --------------------------------------------------------------*/
   .trm_cndts .trm_cndts_body{
    width:min(500px, 85%);
}
}
@media (max-width: 380px){
  
}

/* ----- Header ------------------------------------------------------- */

header{
    padding: .9em 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    z-index: 100;
    background: var(--clr-white);
    transition: all .3s;
}
header.header_shadow{
    padding: .4em 0;
    -webkit-box-shadow: 0px 1px 10px rgba(51, 181, 229, 0.5);
    -moz-box-shadow: 0px 1px 10px rgba(51, 181, 229, 0.5);
    box-shadow: 0px 1px 10px rgba(51, 181, 229, 0.5);
}
header .main_nav{
    display: flex;
    align-items: center;
}
header .main_nav .logo{
    margin: 0 auto;
}
header .main_nav .logo .logo_img{
    width: 23vw;
}
header .main_nav .header_nav_links{
    font-size: .8rem;
    letter-spacing: .02em;
    text-transform: uppercase;
}
header .main_nav .header_nav_links.header_nav_links_txt{
    color: var(--clr-lightgrey);
    font-weight: 500;
    transition: all .3s ease-in-out;
}
header .main_nav .header_nav_links.header_nav_links_txt:hover,
header .main_nav .header_nav_links.header_nav_links_txt:focus{
    color: var(--clr-prm);
    font-weight: 600;
}
header .main_nav .header_nav_links + .header_nav_links{
    margin-left: 2rem;
}


/* ---- Convenient Sec ------------------------------------------------------- */
.convenient{
   padding: 3.5em 0;
   background-color: var(--clr-white);
}
.convenient .main_convenient{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.convenient_collapse{
    width: 53%;
    padding: 2.2em 0;
}
.convenient_content{
    width: 33.5%;
    background-color: var(--clr-sec);
    color: var(--clr-white);
    padding: 2.2em 2.8em;
    border-radius: .3rem;
}
.convenient .convenient_content_title{
    text-align: center;
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
}
.convenient_content ul{
    list-style: outside;
}
.convenient_content ul li{
    font-size: .83rem;
    font-family: 500;
}
.convenient_content ul li + li{
    margin-top: 1rem;
}

.convenient_collapse_sub_item_content{
    height: 0rem;
    transition: all .3s, opacity .1s, padding .1s;
    opacity: 0;
    visibility: hidden;
    color: var(--clr-lightgrey);
    font-size: .9rem;
    letter-spacing: 0.03em;
    
}
.convenient_collapse_list_items.active .convenient_collapse_sub_item_content{
    height: 14rem;
    opacity: 1;
    visibility: visible;
    padding: 1.2em 0;
}
.convenient_collapse_list_item_plus_trigger{
    position: relative;
    display: inline-block;
    border-radius: 5rem;
    width: 1.1rem;
    height: .15rem;
    background-color: var(--clr-lightgrey);
    cursor: pointer;
}
.convenient_collapse_list_item_plus_trigger::after{
    position: absolute;
    border-radius: 5rem;
    left: 50%;
    top: 50%;
    content: '';
    width: 95%;
    height: 100%;
    background-color: var(--clr-lightgrey);
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transition: transform .4s cubic-bezier(0.845, -0.270, 0.025, 1.305);
}
.convenient_collapse_list_items.active .convenient_collapse_list_item_plus_trigger::after{
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform .4s cubic-bezier(0.845, -0.270, 0.025, 1.305);
}
.convenient_collapse_list_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 1.4rem;
}
.convenient_collapse_list_item::after{
    position: absolute;
    bottom: -1.2rem;
    width: 0%;
    height: .2rem;
    content: '';
    background-color: var(--clr-sec);
    transition: width .2s ease-in-out;
}
.convenient_collapse_list_items.active .convenient_collapse_list_item::after{
    width: 20%;
}
.convenient_collapse_list_items + .convenient_collapse_list_items{
    margin-top: .4rem;
}

/* ---- treatment offers --------------------------------------------------------------*/
.treatment_offers{
    padding: 3.8em 0;
    background-color: var(--clr-lightgrey-bg2);
}
.treatment_offers .containers{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.treatment_offers .h_title{
    text-align: center;
    line-height: 1.4;
}
.treatment_offers .h_title span{
    display: block;
}
.treatment_offers_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-between;
}
.treatment_offers_cards{
    background-color: var(--clr-white);
    padding: 1.6em 0;
    border-radius: .3rem;
    margin-top: 4.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}
.treatment_offers_cards:focus,
.treatment_offers_cards:hover{
    color: var(--clr-white);
    background-color: var(--clr-sec);
}
.treatment_offers_cards:focus a,
.treatment_offers_cards:hover a,
.treatment_offers_cards:focus p,
.treatment_offers_cards:hover p{
    color: var(--clr-white);
}
.treatment_offers_cards a{
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.08em;
    padding: 0 1.8em 1.8em 1.8em;
    color: var(--clr-prm);
}
.treatment_offers_cards a:hover,
.treatment_offers_cards a:focus{
   text-decoration: underline;
}
.treatment_offers_cards p{
    color: var(--clr-sec);
    font-size: .85rem;
    font-weight: 600;
    border-bottom: .15em solid var(--clr-sec);
    padding: 0 1.8em .7em 1.8em;
}

.treatment_offers_show_more_btn{
    outline: none;
    font-size: .8rem;
    display: inline-block;
    padding: .95em 2.4em;
    text-align: center;
    border: .15em solid var(--clr-prm);
    font-weight: 500;
    cursor: pointer;
    border-radius: .3rem;
    transition: all .3s linear;
    text-transform: uppercase;
    background-color: var(--clr-prm);
    color: var(--clr-white);
    letter-spacing: 0.05em;
    margin: 3rem auto 0 auto;
    transition: all .2s ease;
}

/* ---- how it works --------------------------------------------------------------*/
.h_how_it_works{
    padding: 3.8em 0;
    background-color: var(--clr-lightblue-bg);
}
.h_how_it_works .h_title{
    color: var(--clr-white);
    text-align: center;
}
.h_how_it_works_main{
    display: flex;
    justify-content: space-between;
    margin-top: 3.5rem;
    padding: 0 1.3em;
}
.h_how_it_works_main .h_how_it_works_cards{
    width: 30.7%;
    border-radius: .7rem;
    background-color: var(--clr-white);
    padding: 1.6em 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h_how_it_works_main .h_how_it_works_cards .h_how_it_works_cards_body{
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.h_how_it_works_main .h_how_it_works_cards .h_how_it_works_cards_title{
    font-size: 1.02rem;
    font-weight: 600;
    letter-spacing: 0.08em;
    padding: 0 1.8em 1.2em 1.8em;
    line-height: 1.4em;
}
.h_how_it_works_main .h_how_it_works_cards .h_how_it_works_cards_text{
    font-size: .82rem;
    color: var(--clr-darkgrey);
    font-weight: 500;
    letter-spacing: 0.08em;
    padding: 0 1.8em;
    line-height: 1.8em;
}
.h_how_it_works_main .h_how_it_works_cards .h_how_it_works_cards_step{
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-top: .15em solid var(--clr-sec);
    padding: 1.4em 1.8em 1.4em 1.8em;
    
}

/* ---- meet your doc --------------------------------------------------------------*/
.meet_your_doc_main{
    border-top: 1px solid var(--clr-prm);
    background-image: linear-gradient(transparent 0%, var(--clr-sec)  0%);
}
.meet_your_doc_img_main{
    display: inline-block;
    vertical-align: top;
    width: 60%;
}
.meet_your_doc_content{
    display: inline-block;
    vertical-align: top;
    width: 39%;
    padding-top: 9vw;
    background-color: var(--clr-sec);
    text-align: center;

}
.meet_your_doc_title{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 2.4rem;
    color: var(--clr-white);
    font-weight: 400;
    line-height: 1.1;
}
.meet_your_doc_link{
    margin-top: 9vw;
    font-size: 1.1rem;
    padding: .55em 1.85em;
    font-weight: 600;
    width: max-content;
 
    color: var(--clr-white);
    display: inline-block;
    border-radius: 2rem;
    letter-spacing: .05rem;
    
    transition: all .3s ease;
    border: .2rem solid var(--clr-white);
    background-color: transparent;
}
.meet_your_doc_link:hover,
.meet_your_doc_link:focus{
    
    background-color: var(--clr-prm);
    border: .2rem solid var(--clr-prm);
}
@media (max-width: 1145px){
    .meet_your_doc .meet_your_doc_content{
        padding-top: 8vw;
    
    }
    .meet_your_doc .meet_your_doc_link{
        margin-top: 5.5vw;
    }  
    .meet_your_doc .meet_your_doc_title{
        font-size: 2.1rem;
    }
    .meet_your_doc .meet_your_doc_link{
        font-size: 1rem;
    }
}
/* ---- footer --------------------------------------------------------------*/
footer{
    padding: 4em 0 2em 0;
}
footer .h_footer_main{
    display: flex;
    align-items: center;
}
footer .h_footer_link{
    font-size: .9rem;
    color: var(--clr-sec);
    font-weight: 700;
    letter-spacing: 0.04em;
    transition: color .3s ease-in-out;
}
footer .h_footer_link:hover,
footer .h_footer_link:focus{
    color: var(--clr-prm);
}
footer .h_footer_link:nth-child(3){
    margin-left: auto;
}
.h_footer_link + .h_footer_link{
    margin-left: 3rem;
}

/* ----- faq ------------------------------------------------------- */
.trm_cndts__head,
.privacy_policy__head,
.faq_head{
    padding: 5.5em 0 1.2em 0;
    background-color: var(--clr-lightblue-bg);
}
.trm_cndts_head_title,
.privacy_policy_head_title,
.faq_head_title{
    font-size: 2.5rem;
    text-align: center;
    color: var(--clr-white);
    font-weight: 600;
}
.faq_body_content{
    padding: .6em 0;
}
.faq_menu_btn.btn.btn_bg{
    width: 8.2rem;
    padding: .7em 0;
    letter-spacing: .07em;
    margin-bottom: 2.6rem;
    font-size: .9rem;
}
.ques_catogoris_tabs_text{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: .3rem;
}
.faq_body_content aside{
    /* padding: .6em 3em .6em 0; */
}
/* ----- */
.faq_body_content aside .ques_catogoris li{
    color: var(--clr-white);
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease; 
}

.faq_body_content .faq_content{
    position: relative;
    padding: .3em 1em 1em 1em;
}

.faq_body_content .faq_content .con{
    position: absolute;
    /* max-height: 0% !important; */
    height: 0;
    max-width: 100%;
    opacity: 0;
    transition: opacity 0s ease;
    pointer-events: none;
}
.faq_body_content .faq_content .con.active-content{
    /* max-height: 100%; */
    height: 100%;
    opacity: 1;
    pointer-events: all;
    position: relative;
   
    transition: opacity .7s ease;
}


.faq_body_content .con .faq_qu{
    pointer-events: none;
    transition: color .2s ease-in-out;
}
.faq_body_content .con .faq_qu:hover,
.faq_body_content .con .faq_qu:focus{
    color: var(--clr-prm);
}

.faq_body_content .con.active-content .faq_qu{
    pointer-events: all !important;
}



.faq_qu{
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    font-size: .75rem;
    font-weight: 600;
    color: var(--clr-sec);
}
.faq_qu::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    font-size: 10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    margin-left: -14px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: transform .3s ease-in-out;
}
.faq_qu_parent.active .faq_qu::before{
    transform: translateY(-50%) rotate(90deg);
    transition: transform .3s ease-in-out;
}
.faq_qu_parent.active .faq_qu{
    color: var(--clr-prm);
}
.faq_qu_as{
    height: 0rem;
    transition: all .4s, opacity 0.4s;
    
    opacity: 0;
    visibility: hidden;
   
}
.faq_qu_as p{
    font-size: .7rem;
    color: var(--clr-darkgrey3); 
    line-height: 1.6;
    font-weight: 500;
}
.faq_qu_as p:nth-last-child(){
    padding-bottom: .9em !important; 
}
.faq_qu_as p{
    padding-top: .8em; 
}
.faq_qu_parent.active .faq_qu_as{
    
    transition: all .4s, opacity  0.4s;
    height: 14rem;
    opacity: 1;
    visibility: visible;
}
.faq_qu_parent{
    padding: .7em 0;
}
.faq_qu_parent + .faq_qu_parent{
    border-top: 1px solid #f1f1f1;
}

/* ----- Privacy Policy ------------------------------------------------------- */

/* ----- Terms & Conditions ------------------------------------------------------- */
.trm_cndts_body{
	width: min(950px, 95%);
	margin: auto;
    padding-top: 3em;
}

.privacy_policy_body h2,
.trm_cndts_body h2{
    font-size: 1.67rem;
    color: var(--clr-darkgrey3);
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.1;
}
.privacy_policy_body h3,
.trm_cndts_body h3{
    font-size: 1.25rem;
    color: var(--clr-darkgrey3);
    margin-top: 1.4rem;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.1;
}
.privacy_policy_body p,
.trm_cndts_body p{
    font-size: .8rem;
    color: var(--clr-darkgrey3);
    font-weight: 500;
    line-height: 1.6;
    margin: 0 0 .9rem;
}
.privacy_policy_body h4,
.trm_cndts_body h4{
    font-size: 1rem;
    color: var(--clr-darkgrey3);
    margin-top: .8rem;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.1;
}
.privacy_policy_body a,
.trm_cndts_body a{
    font-size: .75rem;
    color: var(--clr-sec);
    font-weight: 500;
}
.privacy_policy_body a:hover,
.privacy_policy_body a:focus,
.trm_cndts_body a:hover,
.trm_cndts_body a:focus{
    text-decoration: underline;
}
.privacy_policy_body ul,
.trm_cndts_body ul{
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--clr-darkgrey3);
    list-style-type: disc;
    padding-left: 2.5em;
}
.privacy_policy_body ul li ,
.trm_cndts_body ul li {
    margin-bottom: .8rem;
}